:root {
  --bgclr: #1e1e2e;
  --lnkbase: #f38ba8;
  --lnkuse: #f5c2e7;
  --emoticon: var(--lnkuse);
  --maintxt: #b4befe;
  --postcrd: #181825;
  --shadow: var(--postcrd);
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html, body, div, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  height: 100%;
  margin: 0;
  background-color: var(--bgclr);
  flex-wrap: wrap;
  font-family: Poppins;
}

a:link, a:visited {
  color: var(--lnkbase);
  text-decoration: none;
}

a:active, a:hover {
  color: var(--lnkuse);
  text-decoration: none;
}

table, th, td {
  border-collapse: collapse;
  border: 2px solid;
}

th, td {
  padding: 10px;
}

emoticon {
  color: var(--emoticon);
  font-weight: 600;
  font-size: calc(3vw + 3vh);
}

emph {
  font-weight: bold;
  font-style: italic;
}

home {
  font-family: Roboto;
  position: absolute;
  font-size: calc(1.2vw + 1.2vh);
  left: 25px;
  top: 25px;
}

.container {
  display: flex;
  height: 100%;
  color: var(--maintxt);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: calc(1.2vw + 1.2vh);
  padding: 0 20px;
  animation: fade .5s;
}

.home-text {
  overflow: hidden;
  max-width: 55ch;
}

.navbar {
  display: flex;
  font-family: Roboto;
  font-size: calc(1.2vw + 1.2vh);
  gap: 35px;
  position: absolute;
  right: 25px;
  top: 25px;
}

.error-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fade .5s;

  font-size: calc(3vw + 3vh);
  color: var(--maintxt);
  width: 100%;
  height: 100%;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}