:root {
  --bgclr: #1e1e2e;
  --lnkbase: #f38ba8;
  --lnkuse: #f5c2e7;
  --emoticon: var(--lnkuse);
  --maintxt: #b4befe;
  --postcrd: #181825;
  --shadow: var(--postcrd);
  --max-word-lim: 55ch;
  --max-word-lim-blg: 70ch
}

html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100%;
  margin: 0;
  background-color: var(--bgclr);
  flex-wrap: wrap;
  font-family: Poppins;
}

a:link, a:visited {
  color: var(--lnkbase);
  text-decoration: none;
}

a:active, a:hover {
  color: var(--lnkuse);
  text-decoration: none;
}

table, th, td {
  border-collapse: collapse;
  border: 2px solid;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  padding: 10px;
}

h1 {
  margin-top: 0;
  margin-bottom: 2%;
  font-weight: bold;
}

emoticon {
  color: var(--emoticon);
  font-weight: 600;
  font-size: calc(3vw + 3vh);
}

emph {
  font-weight: bold;
  font-style: italic;
}

home {
  font-family: Roboto;
  position: absolute;
  font-size: calc(1.2vw + 1.2vh);
  left: 25px;
  top: 25px;
}

.container {
  display: flex;
  height: 100%;
  color: var(--maintxt);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: calc(1.2vw + 1.2vh);
  padding: 0 20px;
  animation: fade .5s;
}

.home-text {
  overflow: hidden;
  max-width: var(--max-word-lim);
}

.navbar {
  display: flex;
  font-family: Roboto;
  font-size: calc(1.2vw + 1.2vh);
  gap: 35px;
  position: absolute;
  right: 25px;
  top: 25px;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
