html {
    width: 100%;
    height: 100%;

}

body {
    background-color: #1e1e2e;
    flex-wrap: wrap;
    font-family: Poppins;
    width: 100%;
    height: 100%;

}

a:link {
    color: #f38ba8;
}

a:active {
    color: #f5c2e7;
}

a:visited {
    color: #f38ba8;
}

a:hover {
    color: #f5c2e7;
}

emoticon {
    color: #f5c2e7;
    font-weight: 600;
    font-size: calc(3vw + 3vh);
}

emph {
    font-weight: bold;
    font-style: italic;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    color: #b4befe;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: calc(1.2vw + 1.2vh);

}

.home-text {
    overflow: hidden;
    max-width: 55ch;
    padding-top: 1%;
}

.navbar {
    display: flex;
    font-family: Amaranth;
    justify-content: flex-end;
    font-size: calc(0.9vw + 0.9vh);
    gap: 30px;
    margin-top: 20px;
    margin-right: 20px;


}

.error-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: calc(3vw + 3vh);
    color: #b4befe;
    width: 100%;
    height: 100%;
}
