:root {
  --color-nav1: #eb6f92;
  --color-nav2: #c4a7e7;
  --color-base: #191724;
  --color-overlay: #232136;
  --color-text: #e0def4;
  --color-muted: #908caa;
  --color-projects1: #74c7ec;
  --color-projects2: #f5c2e7;
  --color-posts1: #a6e3a1;
  --color-posts2: #f9e2af;
}

@keyframes scroll {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-base);
  color: var(--color-text);
}

.nav {
  background: radial-gradient(circle, var(--color-nav1) 20%, var(--color-nav2) 100%);
  animation: scroll 5s linear infinite;
  padding: 0.5em 0em 0.5em 1.5em;
  background-size: 200% 200%;
}

.nav-title {
  color: var(--color-text);
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.25em;
  text-shadow: var(--color-base) 0px 0px 18px;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #89b4fa;
}

footer {
  background-color: var(--color-overlay);
  padding: 0.5em 0em 0.5em 1.5em;
}