:root {
  --color-nav1: #eb6f92;
  --color-nav2: #c4a7e7;
  --color-base: #191724;
  --color-overlay: #232136;
  --color-surface: #313244;
  --color-text: #e0def4;
  --color-muted: #908caa;
  --color-projects1: #74c7ec;
  --color-projects2: #f5c2e7;
  --color-posts1: #a6e3a1;
  --color-posts2: #f9e2af;
  --color-link: #89b4fa;
  --color-maroon: #eba0ac;
  --color-flamingo: #f2cdcd;
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-base);
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: var(--color-link);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

@keyframes scroll {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  text-align: center;
  margin-top: 1em;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.container-title {
  font-size: 2.25em;
}

.container-content {
  padding-top: 1em;
  font-size: 1em;
  max-width: 55%;
}

@media screen and (max-width: 768px) {
  .container-content {
    max-width: 95%;
  }
}

.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-overlay);
  width: 50%;
  margin-top: 2em;
  border-radius: 10px;
  position: relative;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.index::after,
.index::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), var(--color-nav1), var(--color-nav2), var(--color-nav1));
  z-index: -1;
  padding: 0.2em;
  border-radius: 10px;
  animation: 5s spin linear infinite;
}

.index-entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.index-comment {
  color: var(--color-muted);
  font-size: 1em;
  font-style: italic;
}
